<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Host" value="Localhost" />
    <add key="Database" value="test" />
    <add key="User" value="skywin" />
    <add key="Password" value="bluewater" />
    <add key="MinuteInterval" value="1" />
    <add key="OnlyBackupWhenSkywinIsRunning" value="false" />
    <add key="SavebackupPath" value="C:\MySqlBackup\" />
    <add key="CopyBackupsTo" value="C:\backup\1\|C:\backup\2\|C:\backup\3\|C:\backup\4\" />
    <add key="Executable" value="C:\xampp\mysql\bin\mysqldump.exe" />
  </appSettings>
</configuration>